.nav-wrapper {
  background: #e5e5e5;
  height: 104px;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  margin-left: 35px;
  margin-top: 20px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 694px;
  margin-right: 35px;
  margin-top: 20px;
}

.nav-right > a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #333333;
}

/* .nav-button {
  background-color: #0961bf;
  width: 192px;
  height: 46.08px;
  border-radius: 20px;
} */

/* .nav-button:hover {
  background-color: #0d7ed0;
} */

.nav-btn {
  background-color: #0961bf;
  width: 192px;
  height: 46.08px;
  border-radius: 20px;
  border: none;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15.36px;
  line-height: 22px;
  position: relative;
  overflow: hidden;
  transition: 0.1s;
}

/* .nav-button:hover {
  background-color: transparent;
} */

Link {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #333333;
}

/* .nav-btn::before {
  content: "";
  position: absolute;
  top: 43px;
  left: 170px;
  width: 100%;
  height: 100%;
  background: #0d7ed0;

  z-index: -1;
  border-radius: 20px 0 0 20px;
  transition: 0.1s;
}

.nav-btn:hover::before {
  left: 0;
  top: 0;
  height: 100%;
  background: #0d7ed0;
} */
